{% extends "./base.html" %}
{% block title %}Tasks | Home{% endblock title %}
{% block body %}
  <p class="h1">Welcome to the taks manager</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><a href="{% url "tasks:task-list" %}">Total tasks</a></th>
        <th><a href="{% url "tasks:show-done" %}">Total ✅</a></th>
        <th><a href="{% url "tasks:show-pending" %}">Total ❌</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <strong>{{num_tasks}}</strong> task{{num_tasks | pluralize}}</td>
        <td><strong>{{num_d}}</strong> task{{num_d | pluralize}}</td>
        <td><strong>{{num_f}}</strong> task{{num_f | pluralize}}</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'tasks:add-task'%}">Crear Tarea</a> 
  <div class="row">
    {%for task in tasks%}
    <div class="container col-sm bg-primary mt-4 p-3 rounded">
        <a href="{% url 'tasks:task-detail' task.slug %}">{{task}} : {%if task.done%}
          ✅
        {% else %}   
          ❌
        {% endif %}</a> 
       <br>
          {%if task.done%}
            <a href="{% url 'tasks:task-toggle' task.slug %}"><button class="btn btn-secondary">Unfinish</button></a>
          {% else %}   
          <a href="{% url 'tasks:task-toggle' task.slug %}"><button class="btn btn-success">Complete</button></a>
          {% endif %}
        <a href="{% url 'tasks:task-edit' task.slug %}"><button class="btn btn-info">Edit</button></a>
        <a href="{% url 'tasks:task-delete' task.slug %}"><button class="btn btn-danger">Delete</button></a>
    </div>
    
    {% endfor %}
  </div>
{% endblock body %}